header {
    background-image: url(images/shark4.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}


body {
    font-family: 'open sans', sans-serif;
}

table{ 
    ;
    }


footer { color : white; 



}
